body,
h1,
h2,
h3 {
  font-family: "Open Sans", "Arial";
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 87.25%;
  max-width: 1660px;
}

a {
  text-decoration: none;
  color: #000000;
}

.menu-links {
  color: #ffffff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  background-image: url("../funmode/main-back.jpg");
  background-size: cover;

  padding-top: 28px;
  padding-left: 14.75%;
  padding-right: 14.75%;
  padding-bottom: 145px;
  width: auto;
}

.logo-text {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.red {
  color: rgb(184, 67, 67);
}

.header::after,
.trend-card::after {
  content: "";

  background-color: #000000;
  opacity: 0.6;
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.header * {
  z-index: 1;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 175px;
  position: relative;
}

.menu {
  display: flex;
}

.hamb-menu {
  display: none;
}

.menu-item {
  margin-right: 35px;
  color: #ffffff;
}

.message {
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  margin-top: 120px;
  margin-bottom: 0px;

  width: 690px;
}

.trends {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 58px;
  flex-direction: column;
  margin-bottom: 65px;
  width: 100%;
}

.trend-header, .our-goods-header {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
}

.trend-cards-row {
  display: flex;
  margin-top: 45px;
}

.trend-card:not(:last-child) {
  margin-right: 5px;
}

.trend-card {
  display: flex;
  position: relative;
  width: 25%;
}

.trend-card-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  border: 3px solid #6f6238;
  bottom: 4.86%;
  right: 4.86%;
  left: 4.86%;
  padding: 7%;
  z-index: 1;
  max-height: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trend-card-content-tags {
  display: flex;
}

.trends-tag {
  margin-right: 20px;
}

.trend-card-image {
  max-width: 100%;
  object-fit: cover;
}

.trend-card-header {
  display: block;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.content {
  display: flex;
  margin-top: 64px;
  padding-left: 14.75%;
  padding-right: 14.75%;
  padding-bottom: 64px;
  width: 70.5%;
  max-width: 1660px;
}

.news-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 11.5%;
  width: 66.66%;
  max-width: 780px;
}

.card {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.card:first-child {
  margin-top: 0px;
}

.card-img {
  display: flex;
  width: 50%;
  max-width: 381px;
  margin-right: 30px;
}

.content-image {
  display: flex;
  max-width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  max-width: 375px;
}

.card-tag {
  font-size: 14px;
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: bold;
}

.card-tags-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
}

.card-tags-list li:not(:last-child) {
  margin-right: 20px;
}

.card-info-head {
  display: flex;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.card-info-head h2 {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 24px;
}

.card-info-meta {
  display: flex;
  position: relative;

  margin-top: 25px;
}

.news-date {
  font-size: 12px;
  color: #888888;
  margin-right: 15px;
}

.author {
  font-size: 12px;
  font-weight: bold;
}

.card-info-text {
  font-size: 15px;
  margin-top: 45px;
  line-height: 22px;
}

.right-info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
  width: 46.26%;
}

.article-box {
  width: 100%;
  margin-top: 60px;
}

.article-box:first-child {
  margin-top: 0px;
}

.newpost-header {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.newpost-header::after, .trend-header::after, .our-goods-header::after {
  content: "";

  background-color: #e1d9bd;
  position: absolute;

  width: 65px;
  top: 24px;
  bottom: -14px;
}

.card-small {
  display: flex;
  position: relative;
  margin-top: 21px;
  width: 100%;
  max-width: 272px;
}

.card-info-small {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 66.5%;
  max-width: 182px;
}

.card-small:nth-child(2) {
  margin-top: 45px;
}

.card-img-small {
  display: flex;
  max-width: 70px;
  margin-right: 19px;
}

.card-info-head h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 18px;
}

.card-info-meta-small {
  display: flex;
  position: relative;

  margin-top: 0px;
}

.search {
  position: relative;
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.search-label {
  display: flex;
  position: relative;
  width: 100%;
}

.search-field,
.mailing-field {
  background-color: #f4f7f6;
  border: none;
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  font-family: inherit;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search-button {
  display: flex;
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.search-button::after {
  content: "";
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.hidden {
  font-size: 0px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.mailing,
.tags-header,
.themes-header {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.mailing::after {
  content: "";

  background-color: #e1d9bd;
  position: absolute;

  width: 66px;
  top: 24px;
  bottom: -14px;
}

.mailing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 38px;
}

.mailing-label {
  width: 100%;
}

.mailing-field {
  height: 48px;
  box-sizing: border-box;
}

.mailing-field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.mailing-button-container {
  margin-top: 20px;
  width: 100%;
}

.mailing-button {
  font-family: inherit;
  display: flex;
  position: relative;
  justify-content: center;
  color: #ffffff;
  border: none;
  padding: 0px;
  width: 100%;
  cursor: pointer;
  background-color: #b59f5b;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tags-header::after {
  content: "";

  background-color: #e1d9bd;
  position: absolute;

  width: 66px;
  top: 24px;
  bottom: -14px;
}

.tags-box-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin-top: 36px;
}

.tags-box {
  border: 3px solid #eeeeee;
  padding: 5px 12px;
  margin-right: 6px;
  margin-top: 6px;
}

.tags-text {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
}

.themes-header::after {
  content: "";

  background-color: #e1d9bd;
  position: absolute;

  width: 66px;
  top: 24px;
  bottom: -14px;
}

.themes {
  display: flex;
  flex-direction: column;
}

.themes-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.one-theme-container {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

.theme {
  font-family: inherit;
  font-weight: bold;
  line-height: 47px;
  font-size: 14px;
  margin-right: 4px;
}

.theme-counter {
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 37px;
  color: #d5c9a9;
}

.our-goods {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  padding-left: 14.75%;
  padding-right: 14.75%;
  width: 70.5%;
  max-width: 1660px;
}

.our-goods-card-container {
  display: flex;
  margin-top: 44px;
}

.our-goods-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33%;
  max-width: 345px;
}

.our-goods-card:not(:first-of-type) {
  margin-left: 5.55%;
}

.our-goods-card-image {
  display: flex;
  align-self: center;
  max-width: 86.4%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.our-goods-card-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  padding-top: 50px;
  padding-left: 5.71%;
  padding-right: 5.71%;
  padding-bottom: 25px;
  border: 3px solid #d3c59d;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.our-goods-card-header {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-goods-card-info {
  font-size: 15px;
  align-items: end;
}

.our-goods-card-info:hover {
  text-shadow: 0.3px 0.3px;
}

.our-goods-extra-info {
  color: #cabb92;
}

.our-goods-card-info:hover > .our-goods-extra-info {
  text-decoration: underline;
}

.our-goods-price-and-buy {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.our-goods-price-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.our-goods-discount {
  font-weight: bold;
  text-decoration: line-through;
  font-size: 0.875rem;
}

.our-goods-price {
  font-weight: bold;
  font-size: 1.11rem;
}

.our-goods-store-botton {
color: #ffffff;
background-color: #b59f5b;
text-transform: uppercase;
font-weight: bold;
font-size: 14px;
padding: 15px 25px;
border: none;
}

.our-goods-store-botton:hover {
  cursor: pointer;
}

.social {
  display: flex;
  background-color: #f4f7f6;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icons {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.icon {
  display: block;
  width: 25px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 28px;
  background-position: center;
}

.twitter {
  background-image: url(../svg/004-twitter.svg);
  background-position: center 1px;
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.trumbl {
  background-image: url(../svg/003-tumblr.svg);
  margin-right: 0px;
}

.copyright {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: #d3d3d3;
  font-size: 12px;
  text-align: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
}
