body {
  width: 100%;
  max-width: 768px;
}

.menu {
  display: none;
}

.hamb-menu {
  display: flex;
}

.header {
  background-image: url("../img/banner-bg-tablet.jpg");
  background-size: cover;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 4.55%;
  padding-right: 4.55%;
  padding-bottom: 122px;
  width: 100%;
  max-width: 768px;
}

.message {
  font-size: 40px;
  
  margin-top: 100px;
  margin-bottom: 0px;

  width: 88%;
  max-width: 610px;
}